<style>

    h1, h2 {
        color: #1d1d1d;
    }

    h3 {
        color: red;
    }

    .btn {
        border-radius: 5px;
        border: none;
        padding: 5px;
        color: white;
        background-color: #1d1d1d;
    }

    .btn:hover{
        color: blueviolet;
    }

</style>

<html>
    <div>

        <hr>

        <h1 style="text-align: center;">Paypal Integration</h1>

        <hr>

        <form method="POST" action="/buysingle">
            <h2>Buy Me</h2>
            <h3>£10.00</h3>
            <br/>
            Quantity:
            <input type="number" name="Quantity" value="1" style="width: 50px;" class="btn"/>
            <input type="submit" value="Purchase" class="btn"/>
            <br/>
        </form>

        <hr>

        <form method="POST" action="/buyrecurring">
            <h2>Purchase Me</h2>
            <h3>£9.99 per month</h3>
            <input type="submit" value="Purchase" class="btn"/>
            <br/>
        </form>





    </div>
</html>